<!-- header.handlebars -->

<nav class="navbar is-dark {{#if darkModeEnabled}}{{/if}}" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a href="#" class="navbar-item">
                <h2 class="title is-4 has-text-white">{{title}}</h2>
            </a>
            <button id="dark-mode-toggle" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <!-- Tombol Dark Mode -->


                <div class="navbar-item">
                    <div class="buttons">

                    <a href="/" class="button  is-shadowless is-light">
                        <strong>Beranda</strong>
                    </a>

                    <a class="button is-link is-small is-light" id="dark-mode-button">
                        <i id="dark-mode-icon" class="fas fa-sun"></i> <!-- Default icon matahari -->
                    </a>
                    </div>
                </div>
            </div>
        </div>               

    </div>
</nav>
<script>
// Ambil elemen tombol dan ikon
var darkModeToggle = document.getElementById('dark-mode-button');
var darkModeIcon = document.getElementById('dark-mode-icon');

// Tambahkan event listener ke tombol
darkModeToggle.addEventListener('click', toggleDarkMode);

// Fungsi untuk mengganti mode antara mode gelap dan terang
function toggleDarkMode() {
    // Periksa apakah dokumen memiliki kelas 'dark-mode'
    var hasDarkMode = document.documentElement.classList.contains('dark-mode');

    // Jika sudah dalam mode gelap, hapus kelas 'dark-mode' dan ubah ikon menjadi matahari, jika tidak, tambahkan kelas 'dark-mode' dan ubah ikon menjadi bulan
    if (hasDarkMode) {
        document.documentElement.classList.remove('dark-mode');
        darkModeIcon.classList.remove('fa-moon');
        darkModeIcon.classList.add('fa-sun');
    } else {
        document.documentElement.classList.add('dark-mode');
        darkModeIcon.classList.remove('fa-sun');
        darkModeIcon.classList.add('fa-moon');
    }
}
</script>

<!-- Script JavaScript -->
<script src="/js/darkMode.js"></script>
