<section class="hero is-info is-large {{#if darkModeEnabled}}has-background-black{{/if}}">
    {{!-- bagian head hero --}}
    {{!-- <div class="hero-head is-bordered" style="border-color: ;">

    </div> --}}

    <link rel="stylesheet" href="/css/marquee.css">
    <!-- Sertakan jQuery -->
    <!-- Masukkan jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Masukkan JSignature -->
    {{!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jSignature/2.1.3/jSignature.min.js"></script> --}}
    <style>
        #signature {
            border: 2px solid #00d1b2; /* Bulma primary color */
            padding: 1rem;
            border-radius: 5px; /* Optional: for rounded corners */
        }
    </style>

    <style>
        .notification.is-fixed {
            position: fixed;
            top: 70px;
            /* Atur jarak dari bagian atas */
            left: calc(50% - 300px);
            /* Atur jarak dari tepi kiri, misalnya notifikasi berlebar 600px */
            z-index: 1000;
            /* Pastikan notifikasi muncul di atas elemen lain */
        }

        /* Media query untuk tampilan mobile */
        @media only screen and (max-width: 600px) {
            .notification.is-fixed {
                top: 70px;
                /* Ubah jarak dari bagian atas untuk tampilan mobile */
                left: calc(50% - 150px);
                /* Atur jarak dari tepi kiri untuk tampilan mobile */
                width: auto;
                /* Atur lebar notifikasi agar dapat menyesuaikan konten */
                max-width: 90%;
                /* Batasi lebar maksimum notifikasi untuk tampilan mobile */


            }
        }
    </style>

    {{#each messageSuccessGuest}}
    <div class="notification is-success mx-auto is-fixed animate__animated animate__fadeInDown" style="width: 600px;">
        <p><strong>{{this}}</strong></p>
        <button class="delete" onclick="closeNotification(this)"></button>
    </div>
    {{/each}}




    <div class="hero-head {{#if darkModeEnabled}}has-background-black{{/if}}">
        <div class="container is-max-desktop p-3">
            <!-- Marquee untuk informasi jam kantor -->
            <div class="marquee-container">
                <marquee behavior="scroll" direction="left" class="marquee-text is-rounded">Jam kantor: Senin - Jumat,
                    09:00 - 17:00 WITA</marquee>
            </div>
            <div class="is-centered mb-3 mt-5">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h1 class=" is-3">Selamat Datang</h1>
                            <hr>
                            <!-- Ucapan selamat datang -->
                            <p class="welcome-text">Di pengisian buku tamu online <b>LPPM UNDANA</b>. Kami sangat senang
                                bisa melayani Anda. Harap isi data dengan lengkap dan jangan ragu untuk bertanya jika
                                membutuhkan bantuan.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script>
        function closeNotification(button) {
            // Mendapatkan parent dari tombol delete, yaitu notifikasi
            var notification = button.parentNode;
            // Menghapus notifikasi
            notification.remove();
        }
    </script>


    <div class="hero-body" style="padding-top: 3rem;">
        <div class="container">

            {{!-- <p class="title">Title</p>
            <p class="subtitle">Subtitle</p> --}}
            <div class="columns is-centered is-vcentered">
                <div class="column is-two-thirds">
                    <div class="card">
                        <div class="card-content">
                            <form id="signature-form" action="/add" method="post" enctype="multipart/form-data">
                                <div class="field">
                                    <label class="label">[<i class="mx-1 fa-regular fa-address-card fa-beat"
                                            style="color: #dec054;"></i>]-Nama Lengkap</label>
                                    <div class="control">
                                        <input class="input" type="text" name="nama_lengkap"
                                            placeholder="contoh: Andra Fisher">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">[<i class="mx-1 fa-solid fa-building"
                                            style="color: #ca5858;"></i>]-Asal</label>
                                    <div class="control">
                                        <input class="input" type="text" name="asal" placeholder="" required>
                                    </div>
                                    <p class="help has-text-warning-dark">*) tamu mahasiswa mengisi asal
                                        fakultas/jurusan/instansi</p>
                                </div>
                                <div class="field">
                                    <label class="label">[<i class="mx-1 fa-solid fa-pen-clip"></i>]-Keperluan</label>
                                    <div class="control">
                                        <input class="input" type="text" name="keperluan"
                                            placeholder="contoh: konsultasi" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">[<i class="mx-1 fa-solid fa-person"
                                            style="color: #3caf6a;"></i>]-Orang Yang dituju</label>
                                    <div class="control">
                                        <input class="input" type="text" name="orang_dituju"
                                            placeholder="contoh: Eric Wu">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">[<i class="mx-1 fa-solid fa-square-phone fa-shake"
                                            style="color: #74C0FC;"></i>]-No HP</label>
                                    <div class="control">
                                        <input class="input" type="text" name="no_hp"
                                            placeholder="contoh: 082123456123">
                                    </div>
                                    <p class="help has-text-warning-dark">*) gunakan nomor aktif</p>
                                </div>
                                <!-- Signature Pad -->

                                <div class="field">
                                    <label class="label">[<i class="fa-solid fa-signature mx-1 fa-beat-fade"
                                            style="color: #B197FC;"></i>]-Tanda Tangan Digital</label>
                                    <div class="control">
                                        {{!-- <input type="file" name="signature_image" class="input"
                                            id="signature_image_input" style="display: none;"> --}}


                                        <!-- Elemen HTML untuk menampung area tanda tangan -->
                                        <div id="signature" class="box"></div>
                                        <input type="hidden" name="signature" id="signature-field">

                                    </div>
                                </div>
                                <!-- Tombol untuk mengkonversi tanda tangan menjadi gambar dan menyimpannya -->


                                <!-- Elemen input untuk menyimpan gambar tanda tangan -->
                                {{!-- <input type="hidden" name="file" id="file" required> --}}

                                <!-- Input file yang tersembunyi -->



                                <button type="button" onclick="resetSignature()" class="button is-warning"><i
                                        class="fa-solid fa-arrow-rotate-left fa-spin fa-spin-reverse mx-1"
                                        style="color: #ba4a4a;"></i>Reset TTD</button>


                                <button type="submit" class="button is-success"><i
                                        class="mx-1 fa-solid fa-floppy-disk"></i>Kirim</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jSignature/2.1.3/jSignature.min.js"></script>
<script>


    document.getElementById("signature-form").onsubmit = (event) => {
        const signatureField = document.getElementById("signature-field")
        const $sigdiv = $("#signature");
        const datapair = $sigdiv.jSignature("getData", "svg");
        const svgData = datapair[1];
        const base64 = btoa(unescape(encodeURIComponent(svgData)))
        signatureField.value = base64

    }

    $(document).ready(function () {
        $('#signature').jSignature({
            'decor-color': 'transparent',
            'background-color': 'transparent',
            'width': '100%', // Set the width to fill the parent container
            'height': '200px' // Set an initial height
        });



    });

    function resetSignature() {
        $('#signature').jSignature('clear');
        $('#signature').jSignature('enable');
        $('#downloadBtn').hide(); // Sembunyikan tombol "Unduh TTD" setelah mereset tanda tangan
    }

    function downloadSignature() {
        var $sigdiv = $("#signature");
        var datapair = $sigdiv.jSignature("getData", "svg");
        var svgData = datapair[1];

        // Buat elemen <canvas> untuk menggambar SVG
        var canvas = document.createElement("canvas");
        var ctx = canvas.getContext("2d");
        var img = new Image();

        img.onload = function () {
            // Atur ukuran canvas sesuai dengan gambar
            canvas.width = img.width;
            canvas.height = img.height;

            // Gambar SVG di atas canvas
            ctx.drawImage(img, 0, 0);

            // Dapatkan URL data PNG dari canvas
            var pngData = canvas.toDataURL("image/png");

            // Buat tautan unduh untuk gambar PNG
            var a = $("<a style='display: none;' href='" + pngData + "' download='signature.png'>download</a>");
            $("body").append(a);
            a[0].click();
            a.remove();

            // Tampilkan input file setelah mengunduh tanda tangan
            $('#signature_image_input').show();

            // tampilkan keterangan signature image
            $('#signature_img_keterangan').show();
            // Sembunyikan tombol "Unduh TTD" setelah mengunduh tanda tangan
            $('#downloadBtn').hide();
        };

        img.src = "data:image/svg+xml;base64," + btoa(svgData);
    }

</script>


<script>
    // Initialize Bulma Navbar component
    document.addEventListener('DOMContentLoaded', function () {
        // Get all "navbar-burger" elements
        var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
            // Add a click event on each of them
            $navbarBurgers.forEach(function ($el) {
                $el.addEventListener('click', function () {
                    // Get the target from the "data-target" attribute
                    var target = $el.dataset.target;
                    var $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>

<!-- Script JavaScript -->
<script src="/js/darkMode.js"></script>